@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Caveat:wght@400;500;600;700&family=DM+Serif+Text:ital@0;1&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Oxygen:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;
box-sizing:border-box;
    user-select: none;
}

html,body{
    background-image: linear-gradient(45deg, #df8eff,#84e2ff);
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.s1{
    width: 30em;
    height: 36em;
    border: 1em solid #ececec;
    box-shadow:  0.8em 0.8em 1.4em #00000013,inset 0.8em 0.8em 1.4em #00000013,inset -0.6em -0.6em 1.6em #ffffffc0;
    border-radius: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    animation: none 0.2s ease;
    background: #f0f0f090;
    animation: woah 2s ease;
}

@keyframes shake {
    0%{transform: translateX(-8px);}
    50%{transform: translateX(8px);}
    100%{transform: translateX(0);}
}

.boxes{
width: 100% !important;
height: 100% !important;
box-shadow:  0.8em 0.8em 1.4em #00000013, -0.6em -0.6em 1.6em #ffffffc0,inset 0.8em 0.8em 1.4em #00000013,inset -0.6em -0.6em 1.6em #ffffffc0;
border: 0.4em solid #ececec;
border-radius: 1em;
font-size: 2em;
font-weight: 500;
display: inline-flex;
justify-content: center;
align-items: center;
line-height: 0;
transition: 0.4s ease;
/*background: rgb(255, 239, 92);*/

}

.ending{
    position: fixed;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    background: #00000030;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.ending-box{
    position: absolute;
    width: 25em;
    height: 30em;
    background: #ececec;
    border-radius: 2em;
    text-align: center;
    padding: 1em;
    animation: none 1s ease;
}

.not-in-list{
    font-size: 1.5em;
}

.word{
    color: #21e864;
    font-size: 3em;
    font-weight: 600;
}

.play-again{
    padding: 0;
    margin: 2em;
    font-size: 1.4em;
    width: 10em;
    height: 3.5em;
    background: gray;
    color: #fff;
    transition: 0.4s ease;
    margin: 0 auto;
    margin-top: 2em;
    display: flex;
    justify-content: center !important; 
    align-items: center;
    border: none;
    border-radius: 0.8em;
    outline: none;
    cursor: pointer;
    animation: none 1s ease;
}
@keyframes come-in {
    0%{transform: translateY(-10em)}
}
.play-again:hover{
    box-shadow: inset 10em 0 0 0 #000;
}

.disclaimer{
    color: #00000080;
    font-size:1em;
    margin-top:2em;
}


.circle1{
    width: 15em;
    height: 15em;
    background-color: #ffffff69;
    position: absolute;
    right: 20%;
    bottom: 70%;
    z-index: 3;
    border-radius: 50%;
    animation: hey2 2s ease infinite;
    animation-delay: 0.5s;
}

.circle2{
    width: 15em;
    height: 15em;
    background-color: #ffffff8e;
    position: absolute;
    right: 70%;
    bottom: 5%;
    z-index: 3;
    border-radius: 50%;
    animation: hey 2s ease infinite;
}


button{
    padding: 1em;
    margin: 5px;
    min-width: 15em;
    border-radius: 2em;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.205);
    background: #ffffff00;
    z-index: 100;
    margin-right: 3em;
  }
  button:hover{
    min-width: calc(15em * 1.1);
    box-shadow: 0px 1px 7px #00000007;
    background: rgba(255, 255, 255, 0.685);

  }
  .bubble-intro{
    position: absolute;
    width: 100vw;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
  }

  .header {
    font-size: 3em;
    font-weight: normal;
}